* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: left;
  width: 100%;
  padding: 7px;
  text-align: left;
    background-color: #E31837;
}
.S_2 {
    
  font-family: "News Cycle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: aliceblue;
  
}

.S_1 {
    font-family: "News Cycle", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;

}